@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

#navDesktop {
    z-index: 10;
}

@media screen and (max-width: 767px) {
    #navDesktop {
        display: none;
    }

    #navPhone {
        display: flex;
    }

    html {
        padding-bottom: 56px;
    }
}

@media screen and (min-width: 768px) {
    #navDesktop {
        display: flex;
    }

    #navPhone {
        display: none;
    }

    html {
        padding-bottom: 0px !important;
    }
}

/* PHONE NAV STYLE */
.nav {
    z-index: 99999999;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
#navPhone>.active {
    color: #0d6efd;
}
.nav__icon {
    font-size: 18px;
}
/* PHONE NAV STYLE */

#root, html {
    font-family: 'Poppins', sans-serif;
    background: #eee;
    margin: 0;
}

.spinner-container {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(255, 255, 255, 0.7);
}
/* LOADING SPINNER */

/* LOGIN STYLE */
.login-form {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffc0;
    border-radius: 30px;
    padding: 30px 50px;
    min-width: 380px;
}
/* LOGIN STYLE */

/* CAROUSEL */
.carousel-image {
    position: absolute;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* CAROUSEL */